:root {
	--clr-1: #1D6DDE;	/*világosabb	gomb highligt*/
	--clr-2: #154E9E;	/*világos			gomb*/
	--clr-3: #1B2838;	/*sötétebb		background*/
	--clr-4: #213145;	/*sötét				menusáv*/
	--clr-5: #182433;	/*legsötétebb	valami*/
	--clr-linear-start: #06BFFF;
	--clr-linear-end: #2D73FF;
	
	--clr-text: rgb(237, 237, 222);
	--scrollbar-radius: 1rem;
	--card-width: 16rem;
}

::-webkit-scrollbar {
	width: .65rem;
}

::-webkit-scrollbar-track {
	background: var(--clr-3);
	border-radius: var(--scrollbar-radius);
}
 
::-webkit-scrollbar-thumb {
	background: linear-gradient(180deg, var(--clr-linear-start) 0%, var(--clr-linear-end) 100%);
	border-radius: var(--scrollbar-radius);
}

body::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(180deg, var(--clr-linear-start) 30%, var(--clr-linear-end) 150%);
}

body {
	background-color: var(--clr-5);
	color: var(--clr-text);
	margin: 0;
	font-family: "Motiva Sans", Sans-serif;
}

.form-element {
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
}

.form-element > *{
	margin: .25rem 0;
}

.form-element > input{
	margin-left: 1rem;
	width: 65%;
}

.game-form {
	font-size: 1.25rem;
	margin: 2rem 1rem;
}

.input {
	font-size: 1.25rem;
	background: #FFF;
	border-radius: 0.25rem;
	border: 0;
	padding: .1rem .2rem;
}


/* DIALOG */
.dialog-button-container {
	margin-top: 1em;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.dialog-button {
	color: var(--clr-text);
	border: 0;
	background: linear-gradient(90deg, var(--clr-linear-start) 0%, var(--clr-linear-end) 100%);
	margin: .25rem;
	font-size: 1.5rem;
	padding: .5rem;
	border-radius: .1rem;
	cursor: pointer;
  transition: all 1s;
}

.dialog-button:hover {
	background: linear-gradient(90deg, var(--clr-linear-start) 30%, var(--clr-linear-end) 150%);
}

#game-dialog {
	width: max(30%, 400px);
}

.dialog {
	width: max(30%, 400px);
}

.dialog {
	color: var(--clr-text);
	border: 0;
	background-color: var(--clr-5);
	border-radius: .35rem;
}

.dialog::backdrop {
	background: rgba(0,0,0,0.5);
}

.dialog-title {
  background: linear-gradient(90deg, var(--clr-linear-start) 0%, var(--clr-linear-end) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	margin-top: 0;
	text-decoration: bolder;
	width: max-content;
}

.dialog-info {
	position: relative;
}

.dialog-close{
	position: absolute;
	top: 0;
	right: 0;
	font-size: 2rem;
	cursor: pointer;
	background: none;
	border: none;
	color: var(--clr-text);
}

.dialog-close:after {
  display: inline-block;
  content: "\00d7";
}

.dialog-close:hover {
	color: rgba(0,0,0,0.5);
}

.dialog-error-message {
	margin-bottom: 0;
	color: rgba(255, 255, 255, .25);
}



/* CONTAINERS */
.main {
	display: inline-block;
	width: 100%;
}

.content {
	margin: 2rem;
}

.content h1 {
	display: flex;
	justify-content: center;
	margin: 2rem 0;
}


.cards-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
	grid-gap: 1rem;
	margin: 0 2rem;
}

.card-container {
	display: flex;
	justify-content: center;
}


/* CARDS */
.card {
	cursor: pointer;
	display: flex;
	position: relative;
	width: var(--card-width);
	height: 22rem;
	background: var(--clr-4);
	border-radius: 0.5rem;
	overflow: hidden;
	flex-direction: column;
	transition: transform 200ms;
}

.inactive {
	filter:
		grayscale(1)
		brightness(.75);
}

.card:focus,
.card:hover {
	transform: scale(1.05);
}

.card-cap {
	display: block;
	height: 17rem;
	width: var(--card-width);
	object-fit: cover;
}

.card-content {
	position: relative;
	width: 100%;
	flex-grow: 1;
}

.card-title {
	font-size: 1.5rem;
	margin: .5rem;
	font-weight: bold;
}

.card-tags {
	position: absolute;
	margin: .5rem;
	bottom: 0;
	display: flex;
	gap: .3rem;
}

.card-tag {
	background: linear-gradient(90deg, var(--clr-linear-start) 0%, var(--clr-linear-end) 100%);
	padding: .3rem .5rem;
	border-radius: 1rem;
	font-size: .9rem;
}



/* NAVIGATIONS */
.navi {
	font-size: 2rem;
	overflow: hidden;
	background-color: var(--clr-4);
}
		
.navlabel {
	background: linear-gradient(90deg, var(--clr-linear-start) 0%, var(--clr-linear-end) 100%);
	float: left;
	margin: .25rem;
	border-radius: .1rem;
}

.navlabel:hover {
	background: linear-gradient(90deg, var(--clr-linear-start) 30%, var(--clr-linear-end) 150%);
}

.navlabel > a, a:visited {
	text-decoration: none;
	color: white;
	padding: 0 .25em;
}
